# Copyrighted assets (users must provide their own)
*.zip
Links Awakening DX HD*.zip

# Build outputs
publish/
assets_original/
zelda_ladxhd_build/

# Game source build artifacts
ladxhd_game_source_code/.vs/
ladxhd_game_source_code/bin/
ladxhd_game_source_code/Content/
ladxhd_game_source_code/Data/
ladxhd_game_source_code/obj/
ladxhd_game_source_code/Publish/
ladxhd_game_source_code_ui/

# Migrate tool build artifacts
ladxhd_migrate_source_code/.vs/
ladxhd_migrate_source_code/bin/
ladxhd_migrate_source_code/obj/

# Patcher tool build artifacts
ladxhd_patcher_source_code/.vs/
ladxhd_patcher_source_code/bin/
ladxhd_patcher_source_code/obj/
